<h1 align="center" style="color:rgb(128, 0, 0)"><b>OUR DOCTORS</b></h1>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(101, 101, 101)" class="card">
                        <img height="400px"src="https://primehealthscare.s3.me-south-1.amazonaws.com/prime/slider/61b711b07937f.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>Dr. Abeir Ali</b></h5>
                          <h6 style="color:rgb(0, 206, 220)"><b>General Practitioner</b></h6>
                          <br> <br>
                          <a href="#" class="btn btn-warning"><b>Book Your Appointment</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(101, 101, 101)"class="card">
                        <img height="400px"src="https://primehealthscare.s3.me-south-1.amazonaws.com/prime/slider/61b709f510b2a.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>Dr. Abdul Rahman Labban</b></h5>
                          <h6 style="color:rgb(0, 206, 220)"><b>Specialist Hematologist and Medical Oncologist</b></h6>
                          <br> 
                          <a href="#" class="btn btn-warning"><b>Book Your Appointment</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(101, 101, 101)"class="card">
                        <img height="400px"src="https://primehealthscare.s3.me-south-1.amazonaws.com/prime/slider/619ca2beb00a7.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>Dr. Alya Al Mazrouei</b></h5>
                          <h6 style="color:rgb(0, 206, 220)"><b>Consultant General Surgeon</b></h6>
                          <br> <br>
                          <a href="#" class="btn btn-warning"><b>Book Your Appointment</b></a>
                        </div>
                      </div>  
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(101, 101, 101)"class="card">
                        <img height="400px"src="https://primehealthscare.s3.me-south-1.amazonaws.com/prime/doctors/6246ac157b675.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>Dr. Chinmay Pankaj Kumar</b></h5>
                          <h6 style="color:rgb(0, 206, 220)"><b>Specialist- Interventional Radiology & Neuroradiology</b></h6>
                          <br>
                          <a href="#" class="btn btn-warning"><b>Book Your Appointment</b></a>
                        </div>
                      </div>  
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(101, 101, 101)"class="card">
                        <img height="400px"src="https://primehealthscare.s3.me-south-1.amazonaws.com/prime/slider/619ca1359fd3b.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>Dr. Ali Mohammad Aldibbiat</b></h5>
                          <h6 style="color:rgb(0, 206, 220)"><b>Consultant Endocrinology</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-warning"><b>Book Your Appointment</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(101, 101, 101)"class="card">
                        <img height="400px"src="https://primehealthscare.s3.me-south-1.amazonaws.com/prime/doctors/61406aff548d5.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>Dr. Naglaa Mohammed Razmy</b></h5>
                          <h6 style="color:rgb(0, 206, 220)"><b>Specialist Dermatologist</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-warning"><b>Book Your Appointment</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(101, 101, 101)"class="card">
                        <img height="400px" src="https://primehealthscare.s3.me-south-1.amazonaws.com/prime/slider/61b6fe099e71a.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>Dr. Neelamma Natikar</b></h5>
                          <h6 style="color:rgb(0, 206, 220)"><b>Specialist Plastic Surgeon</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-warning"><b>Book Your Appointment</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(101, 101, 101)"class="card">
                        <img height="400px"src="https://primehealthscare.s3.me-south-1.amazonaws.com/prime/slider/61b85bc04d9b7.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>Dr. Samir Al Assar</b></h5>
                          <h6 style="color:rgb(0, 206, 220)"><b>Specialist General Surgeon & Wound Care</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-warning"><b>Book Your Appointment</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(101, 101, 101)"class="card">
                        <img height="400px"src="https://primehealths.s3.ap-south-1.amazonaws.com/prime/doctors/620cb2f40d030.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>Dr. Shameem Mir</b></h5>
                          <h6 style="color:rgb(0, 206, 220)"><b>Specialist Obstetrician & Gynecologist</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-warning"><b>Book Your Appointment</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(101, 101, 101)"class="card">
                        <img height="400px" src="https://primehealthscare.s3.me-south-1.amazonaws.com/prime/slider/61b705ab414f1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>Nour Al Mahmoud</b></h5>
                          <h6 style="color:rgb(0, 206, 220)"><b>Clinical Dietitian and Nutritionist</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-warning"><b>Book Your Appointment</b></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
