<h1 align="center" style="color:goldenrod"><b>DEPARTMENTS</b></h1>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label"><h4 style="color:darkred"><b>Department</b></h4></label>
                <select name="" id="" class="form-control">
                    <option value="50% Off on Orders Above 1799">General Surgery</option>
                    <option value="15% Off on Orders Above 599">Neonatal Unit</option>
                    <option value="5% Off on Orders Above 199">Orthopedics</option>
                    <option value="20% Off on Orders Above 799">Physiotherapy</option>
                    <option value="20% Off on Orders Above 799">Ophthalmology</option>
                    <option value="20% Off on Orders Above 799">Gynecology</option>
                    <option value="20% Off on Orders Above 799">Cardiology</option>
                    <option value="20% Off on Orders Above 799">Oncology</option>
                    <option value="20% Off on Orders Above 799">Ear, Nose and Throat (ENT)</option>
                    <option value="20% Off on Orders Above 799">Radiology</option>
                    <option value="20% Off on Orders Above 799">Neurology</option>
                    <option value="20% Off on Orders Above 799">Family Medicine</option>
                    <option value="20% Off on Orders Above 799">Urology</option>
                </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <button class="btn btn-warning"><b>SEARCH</b></button>
                </div>
            </div> 
        </div>
    </div>
</div>
